@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

:root {
    --background-color: rgb(12, 10, 15);
    --form-background-color: rgb(18, 16, 22);
    --background-image: url(./images/background-image.jpg);
    --text-color: rgb(249, 240, 255);
    --input-border-color: rgb(59, 24, 80);
    --input-border-color-focused: rgb(170, 17, 175);
    --label-text-color: rgb(192, 171, 201);
    --link-color: rgb(170, 17, 175);
}

html {
    background-color: var(--background-color);
    color: var(--text-color);
    font-family: 'Open Sans', sans-serif;
}

.content-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.image-container {
    background-image: var(--background-image);
    
}

.image-overlay {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 3rem;
    display: flex;
    position: absolute;
}

section.middle {
    background-color: var(--form-background-color);
    width: 100vw;
    display: flex;
    justify-content: center;
    padding-bottom: 64px;
    box-shadow: 0 12px 18px rgb(35, 12, 51);
}

section.bottom {
    gap: 32px;
}

body,
.content-container {
    gap: 64px;
}

em {
    font-style: italic;
}

label {
    font-size: 0.8rem;
    text-transform: uppercase;
    margin-top: 16px;
    margin-bottom: 4px;
    color: var(--label-text-color);
}

input {
    border: 1px solid var(--input-border-color);
}

:focus-visible {
    outline: none;
    border: 1px solid var(--input-border-color-focused);
    border-radius: 2px;
}

a:any-link {
    color: var(--link-color);
    text-decoration: none;
}

.bottom>button {
    padding: 8px 18px;
    border-radius: 6px;
    border: 2px solid var(--input-border-color-focused);
    background-color: var(--background-color);
    color: rgb(255, 0, 221);
}

/* "`-._,-'"`-._,-'"`-._,-'"`-._,-' Mobile layout */

@media only screen and (max-width: 600px) {
    
body,
section > form,
section.bottom {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.top {
    padding: 0 32px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    font-size: 1.2rem;
}

.image-container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 250px;
    width: 100%;
    background-size: cover;
}

img.logo {
    height: 80%;
}

.image-overlay {
    height: 80px;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.3);
    width: 100%;
    gap: 16px;
    margin-top: 32px;
    color: white;
}

section>form {
    width: 80vw;
    padding-top: 32px;
}

input {
    width: clamp(200px, 80%, 350px);
    background-color: black;
    color: var(--text-color);
}

.bottom {
    margin-bottom: 64px;
}

.bottom>p {
    font-size: small;
}

}

/* "`-._,-'"`-._,-'"`-._,-'"`-._,-' Desktop layout */

body {
    display: flex;
    align-items: center;
}